{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for msg in get_flashed_messages() %}
<div class="hats_back">{{msg}}</div>
{% endfor %}

<h3 class="mini_special">
    <div> Welcome! </div>
    <p> </p>
    <div> Введите данные в формате 55.878 </div>
</h3>

<form action="" method="post" class="index">

    <div class="text-field text-field_floating">
        <input class="text-field__input" type="text" id="lat" name="lat" placeholder="" required>
        <label class="text-field__label" for="lat">Широта:</label>
    </div>
        <p> </p>
    <div class="text-field text-field_floating">
        <input class="text-field__input" type="text" id="lon" name="lon" placeholder="" required>
        <label class="text-field__label" for="lon">Долгота:</label>
    </div>
        <p> </p>
    <button type="submit" class="submit submit1">Найти</button>

</form>

{% endblock %}